* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(22, 160, 206);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: white;
}

.card-title {
    line-height: 1.5;
}

.card {
    margin: 2rem;
}

